@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'FalsterGrotesk-Light';
  src: url(./assets/FalsterGrotesk-Light.woff) format('woff');
}

@font-face {
  font-family: 'FalsterGrotesk-Regular';
  src: url(./assets/FalsterGrotesk-Regular.woff) format('woff');
}
@font-face {
  font-family: 'FalsterGrotesk-Medium';
  src: url(./assets/FalsterGrotesk-Medium.woff) format('woff');
}

body {
  font-family: 'FalsterGrotesk-Light', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #000;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('assets/texture.png');
  background-size: center;
}

.App {
  margin: 5vh 5vw;
  display: block;
  position: relative;
  border: 1px solid;
  border: 1px solid #000000;
  box-shadow: 0.5px 0.5px 1px 1px #000000;
  cursor: grab;
  background-color: #fff;
  opacity: 0.9;
}

.bar {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  width: 100%;
  top: 0;
}

.main {
  padding: 10px 0 0 10px;
  margin: 10px 0 0 10px;
}

.title {
  font-family: 'FalsterGrotesk-Medium', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'FalsterGrotesk-Regular', sans-serif;
}

a:hover {
  cursor: hand;
}

img.bar {
  position: fixed;
  cursor: default;
}


.links > a {
  margin: 0 0.2vw;
}

.location {
  display: block;
  position: absolute;
  bottom: 2vh;
  left: 5vw;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  animation: blink-animation 2.5s ease-in-out infinite;
  -webkit-animation: blink-animation 2.5s ease-in-out ease infinite;
  color: #fff;
}

.location::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  margin-right: 0.5vw;
  vertical-align: baseline;
}

@keyframes blink-animation {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes blink-animation {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@media only screen  and (min-width : 1224px) {
  .App {
    max-width: 50vw;
  }
}